#alarm {-fx-text-fill: white; -fx-font-size: 14pt; -fx-font-weight: bold; -fx-alignment: center;
	-fx-background-color: black;
}
#job {  -fx-background-color: #00FFFF; -fx-alignment: center; -fx-padding: 2px; -fx-font-weight: bold}
#name { -fx-background-color: #00FFFF; -fx-alignment: center;-fx-padding: 2px; -fx-font-weight: bold;
	-fx-border-style: dashed centered; -fx-border-width: 1.5px;
}
#secondName { -fx-background-color: #00FFFF; -fx-alignment: center;-fx-padding: 2px;-fx-font-weight: bold;
	-fx-border-style: dashed centered; -fx-border-width: 1.5px;
}
     #win{-fx-background-color: #DCDCDC; -fx-stroke: red;}
     
     #BoxForAlarm{-fx-background-color: #F0FFF0; -fx-alignment: center;}
     #pp{-fx-background-color: #7B68EE; -fx-padding: 10px;  /*-fx-background-radius: 6;*/ }
     #exit{-fx-background-color: #7B68EE;}
     #H {-fx-background-color: #00ced1}
     #bottom{ -fx-background-color: #7B68EE;-fx-alignment: center;-fx-padding: 5px; }
     
     .EnterTask {
     	-fx-alignment: center;-fx-padding: 5px;  -fx-background-color: #AFEEEE; -fx-background-radius: 6;
     }
     .UP1 {
     	-fx-alignment: center;-fx-padding: 5px; -fx-background-color: #00ced1;  -fx-background-radius: 6;
     }
     .UP2 {
     	-fx-alignment: center;-fx-padding: 5px; -fx-background-color: #AFEEEE;  -fx-background-radius: 6;
     }
     .UP3 {
     	-fx-alignment: center;-fx-padding: 5px; -fx-background-color: #7B68EE; -fx-background-radius: 6;
     }
     
     .OneString {
     	-fx-alignment: center;-fx-padding: 5px; -fx-background-color: #4682B4;  -fx-background-radius: 12;
     }
     .OneStringBaze{
     	-fx-alignment: center;-fx-padding: 2px; -fx-background-color: white;  -fx-background-radius: 12;
     	-fx-border-style: dashed centered; -fx-border-width: 1.1px;
     }
      #OneTask{ -fx-background-color: #FFA500;-fx-alignment: center;-fx-padding: 2px; -fx-background-radius: 12;}
       
 #C {
 	-fx-background-color:#00BFFF;-fx-wrap-text: true;-fx-background-radius: 15; -fx-text-fill:#000080; -fx-padding: 2px;
 }
 #PULL {
 	-fx-background-color:#FFFF00;
 	-fx-background-radius: 5;
 	-fx-font-weight: bold; -fx-padding: 2px;
 }
 #urgency { -fx-font-weight: bold; -fx-background-color:#DC143C; -fx-text-fill:#E0FFFF; -fx-padding: 2px; }
 #S {
 	 -fx-background-color:#4682B4; -fx-padding: 2px; 
 }
 #sc {
 	-fx-background-color: #7B68EE;
 }
 #time { -fx-background-color: #FFA500
 	
 }